@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";

  src:
    local("Gilroy"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Gilroy";

  src:
    local("Gilroy"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

body {
  padding-top: 40px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
}

.button {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background: none;
  border: none;
}

.bullet-remove {
  list-style: none;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  padding: 53px 60px;

  color: #000000;
  letter-spacing: 0.15px;

  background-color: rgba(240, 197, 46, 0.5);
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.search-text {
  box-sizing: border-box;
  width: 355px;
  height: 47px;
  margin-right: -4px;
  padding: 0 0 0 40px;

  font: inherit;

  background: none;
  border: none;
  border-bottom: solid 2px transparent;
  opacity: 0.3;
}

.search-button {
  display: none;
  box-sizing: border-box;
  width: 85px;
  height: 49px;
  padding: 0;

  font: inherit;

  background: none;
  border: solid 2px;
}

.search-text:focus {
  border-color: inherit;
  opacity: 1;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;

  background-color: #000000;
  border-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.user-navigation {
  width: 500px;
  margin: 0;
  padding: 0;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.site-navigation > li {
  line-height: 24px;
}

.site-nav {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.nav-popup {
  display: none;

  line-height: 36px;
  letter-spacing: 0.15px;
}

.link-opacity {
  opacity: 0.3;
}

.nav-elem:hover,
.nav-elem:focus {
  opacity: 0.6;
}

.nav-elem:active {
  opacity: 0.3;
}

.text {
  letter-spacing: 0.15px;
}

.slides {
  margin: 0 0 112px;
  padding: 0;
}

.slides li {
  display: flex;
}
/***/
.slides h3 {
  display: none;
}/***/

.slide-img {
  margin: 0 auto;
}

.slide-wrapper {
  width: 510px;
  margin-right: 50px;
}

.slides b {
  line-height: 56px;
}

.product-features dd {
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.36px;
}

.product-features dt {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.text-font {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.18px;
}

.sections {
  margin-bottom: 180px;
}

.section-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.section-item {
  width: 160px;
}

.section-item a:active {
  opacity: 0.3;
}

.services {
  margin-bottom: 94px;

  background-color: #e5e5e5;
}

.services-wrapper {
  display: flex;
  padding: 55px 0;
}

.service-slides {
  margin: 0;
  padding: 0;
}

.service-slides .button:active {
  color: #f7e184;
}

.service-list {
  margin: 0;
  padding: 0;
}

.service-list p {
  width: 436px;
}

.partners {
  display: flex;
  justify-content: space-between;
  margin: 0 0 93px;
  padding: 0;
}

.partner-1:hover img,
.partner-1:focus img {
  background: url("../img/partner-1-colored.png");
}

.partner-2:hover img,
.partner-2:focus img {
  background: url("../img/partner-2-colored.png");
}

.partner-3:hover img,
.partner-3:focus img {
  background: url("../img/partner-3-colored.png");
}

.partner-4:hover img,
.partner-4:focus img {
  background: url("../img/partner-4-colored.png");
}

.heading-text {
  margin: 0 0 30px;
  padding: 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.47px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 82px;
}

.index-columns .text {
  margin: 0;
  padding: 0;

  letter-spacing: normal;
}

.index-columns .heading-text {
  margin-bottom: 44px;
}

.about-us-column {
  width: 475px;
}

.about-us-column .text {
  margin-bottom: 29px;
}

.delivery-list {
  margin: 0 0 60px;
  padding: 37px 0 0 22px;
}

.delivery-list li {
  list-style: circle;
  font-size: 18px;
  vertical-align: middle;
  color: #e5e5e5;
}

.delivery-list p {
  margin: 0;
  padding: 0 0 0 15px;

  font-size: 16px;
  line-height: 40px;
  color: #000000;
  letter-spacing: normal;
}

.contacts-column {
  width: 560px;
}

.contacts-column .text {
  margin-bottom: 36.5px;
}

.contacts-map {
  margin-bottom: 50px;
}

.close-button {
  background: none;
  border: none;
  opacity: 0.5;
}

.close-button:hover,
.close-button:focus {
  opacity: 1;
}

.close-button:active {
  opacity: 0.3;
}

.map-popup {
  display: none;
}

.write-us {
  display: none;
}

.write-us .text-font {
  letter-spacing: normal;
}

.write-us .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  background-color: #f2f2f2;
  border: none;
  opacity: 0.4;
}

.write-us .text:hover {
  background-color: #eaeaea;
}

.write-us .text:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
  opacity: 1;
}

.write-us .text:invalid {
  background-color: #f6dada;
}

.footer {
  padding: 65px 0;

  color: #ffffff;

  background-color: #464646;
}

.footer-navigations-wrapper {
  display: flex;
}

.footer-logo-device {
  margin-right: auto;
}

.footer-user-navigation {
  margin: 0;
  padding: 0;
}

.addres {
  margin-right: 166px;
}

.footer .site-navigation {
  margin-right: auto;
}

.yellow-line {
  width: 80px;
  height: 7px;
  margin-right: 429px;

  background-color: #ffc600;
}

.socials {
  margin: 0 auto 0 0;
  padding: 0;
}

.footer-navigation {
  opacity: 0.7;
}

.footer-navigation:hover,
.footer-navigation:focus {
  opacity: 1;
}

.footer-navigation:active {
  opacity: 0.3;
}

.socials a {
  color: #ffffff;
}

.socials a:hover,
.socials a:focus {
  opacity: 0.6;
}

.socials a:active {
  opacity: 0.1;
}

.catalog header {
  margin-bottom: 44px;
}

.catalog main {
  padding-left: 60px;
}

.breadcrumbs {
  margin: 0 0 44px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.14px;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a[href]:active {
  opacity: 0.1;
}

.catalog-columns {
  display: flex;
}

.filter {
  flex-shrink: 0;
  width: 270px;
  margin-right: 70px;

  background-color: #ebebeb;
}

.filter-heading {
  margin: 0;
  padding: 0;

  background-color: #d9d9d9;
}

.features-filter label {
  font-size: 14px;
  line-height: 40px;
  color: #000000;
  letter-spacing: 0.14px;
}

.filter fieldset {
  border: none;
  border-top: solid 2px #000000;
}

.price-filter input,
.price-filter label {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: normal;

  background: none;
  border: none;
  opacity: 0.2;
}

.filter .button {
  line-height: normal;
}

.switch:not([disabled]):hover,
.switch:focus {
  opacity: 0.6;
}

.switch[disabled] + label {
  opacity: 0.25;
}

.sort-heading,
.filter-heading {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.catalog-column {
  margin-bottom: 77px;
}

.catalog-column ul {
  margin: 0;
  padding: 0;
}

.sort-wrapper {
  margin-bottom: 69px;

  background-color: #ebebeb;
}

.sort-heading {
  margin: 0;
  padding: 0;
}

.sort-list a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.product:nth-child(2n-1) {
  margin-right: 40px;
}

.product-price {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.16px;
}

.add-comparison {
  font-size: 13px;
  line-height: 36px;
  color: #000000;
  letter-spacing: 0.13px;

  opacity: 0.5;
}

.add-comparison:hover,
.add-comparison:focus {
  opacity: 1;
}

.add-comparison:active {
  opacity: 0.2;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 360px;
}

.product-img:hover,
.product-img:focus {
  background-color: #eeeeee;
  opacity: 0.7;
}

.pagination-list {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.2px;

  background-color: #ebebeb;
}

.pagination-back:hover,
.pagination-back:focus,
.pagination-forward:hover,
.pagination-forward:focus {
  background-color: #d9d9d9;
}

.pagination-back:active,
.pagination-forward:active {
  color: rgba(0, 0, 0, 0.3);
}

.sort-order-by[href] {
  opacity: 0.2;
}

.sort-order-by[href]:hover,
.sort-order-by {
  opacity: 0.4;
}

.button-opacity[href]:hover,
.button-opacity:focus {
  opacity: 0.6;
}

.button-opacity[href]:active,
.sort-order-by[href]:active {
  opacity: 1;
}
