@font-face{font-style:normal;font-weight:800;font-family:Gilroy;src:local("Gilroy"),url(gilroyextrabold.woff2) format("woff2"),url(gilroyextrabold.woff) format("woff")}
@font-face{font-style:normal;font-weight:300;font-family:Gilroy;src:local("Gilroy"),url(gilroylight.woff2) format("woff2"),url(gilroylight.woff) format("woff")}
body{margin:0;padding:0;font-weight:300;font-size:15px;line-height:30px;font-family:"Open sans",Arial,sans-serif;color:#464646}
img{max-width:100%}
a{text-decoration:none}
.button{display:inline-block;padding:16px 0;font-weight:800;font-size:18px;line-height:8px;font-family:Gilroy,Arial,sans-serif;text-align:center;color:#000;text-transform:uppercase;letter-spacing:3.6px;background-color:#f0c52e;background-clip:content-box}
.button:focus,.button:hover{background-clip:padding-box}
.button:active{color:rgba(0,0,0,.3);background-clip:padding-box}
.index-columns .button{width:260px}
.main-navigation{color:#000;background-color:rgba(240,197,46,.5)}
.site-navigation{list-style:none;font-weight:800;font-size:18px;line-height:24px;font-family:Gilroy,Arial,sans-serif;text-transform:uppercase;letter-spacing:3.6px}
.popup{display:none;font-weight:300;font-size:15px;line-height:36px;font-family:"Open sans",Arial,sans-serif;text-transform:none;letter-spacing:.15px}
.user-navigation{list-style:none;font-weight:300;font-size:15px;line-height:30px;font-family:"Open sans",Arial,sans-serif;letter-spacing:.15px}
.exit{opacity:.3}
.site-navigation a,.user-navigation a,.user-navigation-footer a{color:inherit}
.site-navigation a:focus:not(.exit),.site-navigation a:hover:not(.exit),.user-navigation a:focus:not(.exit),.user-navigation a:hover:not(.exit){opacity:.6}
.site-navigation a:active:not(.exit),.user-navigation a:active:not(.exit){opacity:.3}
.search{font-weight:300;font-size:15px;line-height:30px;font-family:"Open sans",Arial,sans-serif;letter-spacing:.15px}
.search-btn{display:none;font:inherit;background:0 0;border:solid 2px #000}
.search-text{font:inherit;color:#000;background:0 0;border:none;opacity:.3}
.search-text:hover{color:#000;opacity:.6}
.search-text:focus{color:#000;border-bottom:solid 2px #000;opacity:1}
.search-text:focus+.search-btn{display:inline}
.search-btn:hover{color:#fff;background-color:#000}
.search-btn:active{display:inline;color:rgba(255,255,255,.3)}
.logo-device:focus,.logo-device:hover{opacity:.6}
.logo-device:active{opacity:.3}
.text{font-weight:300;font-size:15px;line-height:30px;font-family:OpenSans,Arial,sans-serif;color:#464646}
.slides .text{letter-spacing:.15px}
.slides .button{width:220px}
.slides b{font-weight:800;font-size:47px;line-height:56px;font-family:Gilroy,Arial,sans-serif;color:#000;letter-spacing:.47px}
.features dd{font-weight:300;font-size:36px;line-height:48px;font-family:Gilroy,Arial,sans-serif;color:#000;letter-spacing:.36px}
.features dt{font-weight:300;font-size:13px;line-height:20px;font-family:OpenSans,Arial,sans-serif;color:#464646;letter-spacing:.13px}
.section-list{list-style:none}
.section-item a:active{opacity:.3}
.section-list a{font-weight:800;font-size:18px;line-height:24px;font-family:Gilroy,Arial,sans-serif;color:#000;letter-spacing:.18px}
.service-slides{list-style:none}
.service-slides .button{width:160px}
.service-slides .button:active{padding-right:118px;color:#f7e184;background-color:#000}
.services{list-style:none;background-color:#e5e5e5}
.services .text{letter-spacing:.15px}
.partners{list-style:none}
.partner:nth-of-type(1) img:active,.partner:nth-of-type(1) img:focus,.partner:nth-of-type(1) img:hover{content:url(../img/partner-1-colored.png)}
.partner:nth-of-type(2) img:active,.partner:nth-of-type(2) img:focus,.partner:nth-of-type(2) img:hover{content:url(../img/partner-2-colored.png)}
.partner:nth-of-type(3) img:active,.partner:nth-of-type(3) img:focus,.partner:nth-of-type(3) img:hover{content:url(../img/partner-3-colored.png)}
.partner:nth-of-type(4) img:active,.partner:nth-of-type(4) img:focus,.partner:nth-of-type(4) img:hover{content:url(../img/partner-4-colored.png)}
.index-columns h2,.services h3{font-weight:800;font-size:47px;line-height:48px;font-family:Gilroy,Arial,sans-serif;color:#000;letter-spacing:.47px}
.delivery-list li{list-style:circle;font-size:16px;vertical-align:middle;color:#e5e5e5}
.delivery-list p{font-weight:800;font-size:16px;line-height:40px;font-family:Gilroy,Arial,sans-serif;color:#000}
.map-popup{display:none}
.write-us{display:none}
.footer{color:#fff;background-color:#464646}
.user-navigation-footer{list-style:none;font-weight:300;font-size:15px;line-height:36px;font-family:"Open sans",Arial,sans-serif;color:rgba(255,255,255,.7);letter-spacing:.15px}
.user-navigation-footer a:focus:not(.exit),.user-navigation-footer a:hover:not(.exit){color:#fff;opacity:1}
.user-navigation-footer a:active:not(.exit){color:#fff;opacity:.3}
.tel{font-size:15px;line-height:30px;font-family:"Open sans",Arial,sans-serif;color:#fff}
.addres{font-size:15px;line-height:30px;font-family:"Open sans",Arial,sans-serif;color:#fff}
.socials{list-style:none}
.socials a{color:#fff;opacity:.3}
.socials a:focus,.socials a:hover{opacity:.6}
.socials a:active{opacity:.1}
.catalog h1{font-weight:800;font-size:47px;line-height:48px;font-family:Gilroy,Arial,sans-serif;color:#000;letter-spacing:.47px}
.catalog h2{font-weight:800;font-size:16px;line-height:24px;font-family:Gilroy,Arial,sans-serif;color:#000;text-transform:uppercase;letter-spacing:3.2px}
.breadcrumbs{list-style:none;font-weight:300;font-size:14px;line-height:24px;font-family:"Open sans",Arial,sans-serif;letter-spacing:.14px}
.breadcrumbs+h2{background-color:#d9d9d9}
.breadcrumbs a,.breadcrumbs li:last-child{color:#000;opacity:.3}
.breadcrumbs a[href]:focus,.breadcrumbs a[href]:hover{opacity:.6}
.breadcrumbs a[href]:active{opacity:.1}
.filter{font-weight:300;font-size:14px;line-height:40px;font-family:"Open sans",Arial,sans-serif;color:#000;letter-spacing:.14px;background-color:#ebebeb}
.filter fieldset{border:none;border-top:solid 2px #000}
.filter legend{font-weight:800;font-size:18px;line-height:24px;font-family:Gilroy,Arial,sans-serif;color:#000;letter-spacing:.18px}
.price input,.price label{font-weight:300;font-size:14px;line-height:24px;font-family:Gilroy,Arial,sans-serif;color:#000;opacity:.2}
.price input{background:0 0;border:none}
legend+ul{list-style:none}
input[type=checkbox]:not([disabled]):focus,input[type=checkbox]:not([disabled]):hover,input[type=radio]:not([disabled]):focus,input[type=radio]:not([disabled]):hover{opacity:.6}
input[disabled]+label{opacity:.25}
.filter .button{width:200px;border:none}
.sort{background-color:#ebebeb}
.sort ul{list-style:none}
.sort button{font-size:14px;line-height:18px;font-family:"Open sans",Arial,sans-serif;color:#000;background:0 0;border:none;opacity:.3}
button:focus[name=sort],button:hover[name=sort]{opacity:.6}
button:focus[name=sort-by],button:hover[name=sort-by]{opacity:.4}
.sort button:active{opacity:1}
.product{list-style:none;line-height:24px;font-family:Gilroy,Arial,sans-serif}
.product h3 a{font-weight:800;font-size:18px;color:#000;letter-spacing:.18px}
.product-price{font-weight:300;font-size:16px;color:#464646;letter-spacing:.16px}
.product .button{width:200px}
.add-comparison{font-weight:300;font-size:13px;line-height:36px;font-family:"Open sans",Arial,sans-serif;color:#000;letter-spacing:.13px;opacity:.5}
.add-comparison:focus,.add-comparison:hover{opacity:1}
.add-comparison:active{opacity:.2}
.product-img:focus,.product-img:hover{background-color:#eee;opacity:.7}
.pagination{list-style:none;font-weight:800;font-size:16px;line-height:24px;font-family:Gilroy,Arial,sans-serif;color:#000;letter-spacing:3.2px;background-color:#ebebeb}
.pagination a{color:#000}
.back:focus,.back:hover,.forward:focus,.forward:hover{background-color:#d9d9d9}
.back:active,.forward:active{color:rgba(0,0,0,.3)}
.page[href]{opacity:.3}
.page[href]:focus,.page[href]:hover{opacity:.6}
.page[href]:active{opacity:1}
